name: Auto Login Searchade

on:
  workflow_dispatch: # 手动触发
  schedule:
    - cron: '0 0 * * *' # 每天运行一次

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install seleniumbase
        # 安装浏览器和驱动
        sbase install chromedriver
        sudo apt-get install -y xvfb

    - name: Run Login Script
      env:
        USER_EMAIL: ${{ secrets.USER_EMAIL }}
        USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
      run: |
        # 使用 xvfb-run 在虚拟显示器中运行，配合 uc 模式效果更好
        xvfb-run python login.py

    - name: Upload Screenshots (if failed)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: |
          *.png
